body{
    display: flex;
 justify-content: center;
 align-items: center;
    height: 94.992vh;
    width: 99.387vw;
    background-image: radial-gradient(rgb(160, 213, 24),rgb(255, 166, 0));
}


.calc{
    margin-top: 0;
    width: 650px;
    height: 300px;
    border-radius: 0%;
    border:ridge #d8d8d8 6.4px;
    background-image: radial-gradient(rgb(255, 238, 0), rgb(158, 148, 0));
}

.nom{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

h3{
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.inpt{
    position: relative;
    margin: 0;
    height: 255px;
    width: 34%;
    margin-top: 0;
}

.buta{
    position: absolute;
    /* margin-left: 215px;
    height: 256px;
    width: 435px;
    margin-top: -260px; */
    margin-left: 250px;
    height: 60px;
    width: 150px;
    margin-top: -155px;
    display: grid;
    justify-items: center;
    align-items: center;
}

button{
    border: 0;
    background: #ee0000;
    border-radius: 50%;
    box-shadow: 0 5px 0 rgb(143, 0, 0);
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 0;
    margin-top: -30px;
    outline: 0;
    padding: 12px 10px;
    transition: all 0.1s linear;
    transition-duration: 100ms;
    font-family: 'Helvetica';
}
button:active{
    box-shadow: 0 0px 0 red;
    transform: translateY(5px);
}

.inpt2{
    position: relative;
    margin: 0;
    height: 255px;
    width: 34%;
    margin-top: -255px;
    margin-left: 430px;
    display: grid;
}
#vau1{
    height: 127.5px;
    width: 100%;
}
#vau2{
    height: 127.5px;
    width: 100%;
}
.quad{
    height: 50px;
    width: 200px;
    background-color: white;
    margin-top: -10px;
    margin-left: -12px;
    border: solid #565656 1px;
}